<div class="container mt-5 text-success" style="margin-bottom: 100px;">
    <section>
        <app-buttons></app-buttons>
        <div class="container mb-5 mt-5">
            <h2>Full name:
                <span>&#160;Milan Radovanovic</span>
            </h2>
        </div>

        <div class="container mb-5">
            <h2>Birth year:
                <span>&#160;1985</span>
            </h2>
        </div>

        <div class="container mb-5">
            <h2>Working Experience:
                <span>&#160;Without WE in IT industry</span>
            </h2>
        </div>

        <div class="container">
            <h2>Skills:</h2>
            <ul style="list-style-type:square;">
                <li>
                    <h3>Java</h3>
                </li>
                <li>
                    <h3>Scala</h3>
                </li>
                <li>
                    <h3>Spring Mvc</h3>
                </li>
                <li>
                    <h3>PostgreSQL</h3>
                </li>
                <li>
                    <h3>Hibernate/JPA</h3>
                </li>
                <li>
                    <h3>Thymeleaf</h3>
                </li>
                <li>
                    <h3>Html</h3>
                </li>
                <li>
                    <h3>Bootstrap</h3>
                </li>
                <li>
                    <h3>Vanilla Js</h3>
                </li>
                <li>
                    <h3>Jquery</h3>
                </li>
                <li>
                    <h3>Typescript</h3>
                </li>
                <li>
                    <h3>Angular</h3>
                </li>

            </ul>
        </div>
    </section>
</div>